.download{
    background-color:#eff0fc ;
    padding: 60px;
  }
  .container-mobil{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 80px;
    
  }
  @media (max-width: 1199px) {
    .container-mobil {
      display: block;
      justify-content: center;     
      text-align: left;
    }
  } 
  
  .mobil{
    width: 100%;
    height: 450px;
    margin: 80px;
  }
  @media (max-width: 1199px) {
    .mobil {
      margin: 0;
      padding-bottom: 40px;
    }
  }
  .downloadappar{
    display: block;
    justify-content: center; 
  
  }
  .choice{
    display: flex;
   gap: 60px;
  }