.slider-container {
  
    width: 100%;
    height: auto;
    margin: auto;
    overflow: hidden;
    padding-top: 20px;
    padding-bottom: 20px;
    margin: 0 10px;
  }
  
  @media (min-width: 992px) {
    .slider-container {
      padding-top: 70px;
      padding-bottom: 70px;
    }
  }
  
  .brands {
    display: flex;
    justify-content: flex-start;
    animation: scroll 40s linear infinite;
    width: 100%; 
    flex-direction: row;
  }
  
  .brands img {
    width: 270px; 
    height: auto;
    padding-right: 40px; 
  }
  
  @keyframes scroll {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-1000px); 
    }
  }
  